{% extends "base.admin.html.twig" %}

{% block title %}
	Detail du projet
	{{ projet.nom }}
{% endblock %}

{% block titre %}
	Detail du projet
	{{ projet.nom }}
{% endblock %}
{% block boutons %}{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="content">
				<div class="row">
					<div class="col-6">
						<div class="card">
							<div class="container"><br>
								<h3>Nom:
									{{projet.nom}}</h3><hr><br>
								<h3>Date de creation:
									{{projet.dateCreation|date("m/d/Y")}}</h3><hr><br>
								<h3>Nombre d'evaluateur: {{ projet.users|length }}
								</h3><hr><br>
								<h3>Description</h3>
								<p>{{projet.description}}</p><br>
								
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="card">
							<div class="container"><br>
								<h3>Etat d'evaluation:
									{{ projet.dateCreation|date("m/d/Y") }}
								</h3><hr>
								<h4>Deja evaluer par:
								</h4><hr>
								<h4>Evaluateurs restants:
								</h4><hr><br>
								<h3>Critere d'evaluation:  {{ projet.criteres|length }}</h3><hr>
								<h4>Total de critere</h4>
								<h4>Total des champs</h4>
								<h4>Total des boutons radios</h4>
								<h4>Total des boutons checkbox</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr><br>
{% endblock %}
