<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{% block title %}
				Evaluation des projets
			{% endblock %}
		</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="{{ asset("main/vendors/owl-carousel/css/owl.carousel.min.css") }}">
		<link rel="stylesheet" href="{{ asset("main/vendors/owl-carousel/css/owl.theme.default.css") }}">
		<link rel="stylesheet" href="{{ asset("main/vendors/mdi/css/materialdesignicons.min.css") }}">
		<link rel="stylesheet" href="{{ asset("main/vendors/aos/css/aos.css") }}">
		<link rel="stylesheet" href="{{ asset("main/css/style.min.css") }}"> {% block stylesheets %}{% endblock %}
		</head>
		<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
			{% include "main/includes/header.html.twig" %}
			<div class="banner">
				<div class="container">
					<h1 class="font-weight-semibold">Bienvenue sur notre plateformae d'evalution de
						<br>projets.</h1>
					<h6 class="font-weight-normal text-muted pb-3">Evaluer les projets qui vous seront donnees</h6>
					<img src="{{ asset("main/images/Group171.svg") }}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="content-wrapper"> {% block body %}{% endblock %}
				</div>
				<script src="{{ asset("main/vendors/jquery/jquery.min.js") }}"></script>
				<script src="{{ asset('main/vendors/bootstrap/bootstrap.min.js') }}"></script>
				<script src="{{ asset("main/vendors/owl-carousel/js/owl.carousel.min.js") }}"></script>
				<script src="{{ asset("main/vendors/aos/js/aos.js") }}"></script>
				<script src="{{ asset("main/js/landingpage.js") }}"></script>
				{% block javascripts %}{% endblock %}
			</body>
		</html>
